.panel.panel-default
  .panel-heading
    %i.fa.fa-clock-o.fa-fw
    Build Timeline
  / /.panel-heading
  .panel-body
    %ul.timeline
      %li
        .timeline-badge.success
          %i.fa.fa-thumbs-up
        .timeline-panel
          .timeline-heading
            %h4.timeline-title Paint periscope
          .timeline-body
            .container
              .row
                .col-lg-4
                  %p
                    %small.text-muted
                      %i.fa.fa-clock-o
                      2 hours ago
              .row
                .col-lg-2
                  %p
                    %small.text-muted
                      %i.fa.fa-cube
                      yellow submarine
                .col-lg-2
                  %p
                    %small.text-muted
                      %i.fa.fa-user
                      george
              .row
                .col-lg-2
                  %p
                    %small.text-muted
                      %i.fa.fa-code-fork
                      painting
                .col-lg-2
                  %p
                    %small.text-muted
                      %i.fa.fa-paperclip
                      cbd92s

      %li.timeline-inverted
        .timeline-badge.danger
          %i.fa.fa-thumbs-down
        .timeline-panel
          .timeline-heading
            %h4.timeline-title feed the dog
          .timeline-body
            .container
              .row
                .col-lg-4
                  %p
                    %small.text-muted
                      %i.fa.fa-clock-o
                      4 hours ago
              .row
                .col-lg-2
                  %p
                    %small.text-muted
                      %i.fa.fa-cube
                      hey bulldog
                .col-lg-2
                  %p
                    %small.text-muted
                      %i.fa.fa-user
                      ringo
              .row
                .col-lg-2
                  %p
                    %small.text-muted
                      %i.fa.fa-code-fork
                      dogs
                .col-lg-2
                  %p
                    %small.text-muted
                      %i.fa.fa-paperclip
                      cb592a

        %li
          .timeline-badge
            %i.fa.fa-close
          .timeline-panel
            .timeline-heading
              %h4.timeline-title feeling sad
            .timeline-body
              .container
                .row
                  .col-lg-4
                    %p
                      %small.text-muted
                        %i.fa.fa-clock-o
                        6 hours ago
                .row
                  .col-lg-2
                    %p
                      %small.text-muted
                        %i.fa.fa-cube
                        yesterday
                  .col-lg-2
                    %p
                      %small.text-muted
                        %i.fa.fa-user
                        john
                .row
                  .col-lg-2
                    %p
                      %small.text-muted
                        %i.fa.fa-code-fork
                        depression
                  .col-lg-2
                    %p
                      %small.text-muted
                        %i.fa.fa-paperclip
                        c2g93f
