.panel.panel-yellow
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-users.fa-5x
      .col-xs-9.text-right
        .huge 124
        %div Developers
  %a{:href => "#"}
    .panel-footer
      %span.pull-left View Details
      %span.pull-right
        %i.fa.fa-arrow-circle-right
      .clearfix
