.panel.panel-red
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-thumbs-down.fa-5x
      .col-xs-9.text-right
        .huge= codeship_developer.codeship_builds.red.count
        %div Failing builds
