.panel.panel-green
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-thumbs-up.fa-5x
      .col-xs-9.text-right
        .huge= codeship_developer.codeship_builds.green.count
        %div Successful builds
