.panel.panel-yellow
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-users.fa-5x
      .col-xs-9.text-right
        .huge= developer_codeship_projects(codeship_developer).count
        %div Projects
