.panel.panel-primary
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-cubes.fa-5x
      .col-xs-9.text-right
        .huge 26
        %div Projects
  %a{:href => "#"}
    .panel-footer
      %span.pull-left View Details
      %span.pull-right
        %i.fa.fa-arrow-circle-right
      .clearfix
