.panel.panel-red
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-thumbs-down.fa-5x
      .col-xs-9.text-right
        .huge= codeship_builds.red.count
        %div Failing builds
  %a{href: admin_red_builds_path}
    .panel-footer
      %span.pull-left View Details
      %span.pull-right
        %i.fa.fa-arrow-circle-right
      .clearfix
