.panel.panel-red
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-thumbs-down.fa-5x
      .col-xs-9.text-right
        .huge 13
        %div Failed builds
  %a{:href => "#"}
    .panel-footer
      %span.pull-left View Details
      %span.pull-right
        %i.fa.fa-arrow-circle-right
      .clearfix
