.panel.panel-default
  .panel-heading
    %i.fa.fa-users.fa-fw
    Top developers
  .panel-body
    .list-group
      - top_developers.each do |developer|
        %a.list-group-item{href: admin_developer_builds_path(developer.name)}
          %i.fa.fa-user.fa-fw
          = developer.name
          %span.pull-right.text-muted.small
            = developer_codeship_builds(developer).green.count
            %i.fa.fa-thumbs-up.fa-fw
            = developer_codeship_builds(developer).red.count
            %i.fa.fa-thumbs-down.fa-fw
    %a.btn.btn-default.btn-block{href: admin_developers_path} View All Developers
