.panel.panel-default
  .panel-heading
    %i.fa.fa-cubes.fa-fw
    Top projects
  .panel-body
    .list-group
      - top_projects.each do |project|
        %a.list-group-item{href: admin_projects_path(project)}
          %i.fa.fa-cube.fa-fw
          = project.repository_name
          %span.pull-right.text-muted.small
            = project.codeship_builds.green.count
            %i.fa.fa-thumbs-up.fa-fw
            = project.codeship_builds.red.count
            %i.fa.fa-thumbs-down.fa-fw
    %a.btn.btn-default.btn-block{href: admin_projects_url} View All Projects
