.panel.panel-default
  .panel-heading
    %i.fa.fa-cubes.fa-fw
    Top projects
  .panel-body
    .list-group
      %a.list-group-item{href: '#'}
        %i.fa.fa-cube.fa-fw
        yellow submarine
        %span.pull-right.text-muted.small
          1200
          %i.fa.fa-thumbs-up.fa-fw
          36
          %i.fa.fa-thumbs-down.fa-fw
      %a.list-group-item{href: '#'}
        %i.fa.fa-cube.fa-fw
        yesterday
        %span.pull-right.text-muted.small
          700
          %i.fa.fa-thumbs-up.fa-fw
          80
          %i.fa.fa-thumbs-down.fa-fw
      %a.list-group-item{href: '#'}
        %i.fa.fa-cube.fa-fw
        nowhere man
        %span.pull-right.text-muted.small
          800
          %i.fa.fa-thumbs-up.fa-fw
          56
          %i.fa.fa-thumbs-down.fa-fw
      %a.list-group-item{href: '#'}
        %i.fa.fa-cube.fa-fw
        hey bulldog
        %span.pull-right.text-muted.small
          200
          %i.fa.fa-thumbs-up.fa-fw
          55
          %i.fa.fa-thumbs-down.fa-fw
    %a.btn.btn-default.btn-block{href: admin_projects_url} View All Projects
