.row
  .col-lg-12
    %h1.page-header Codeship settings
.row
  .col-lg-12
    .panel.panel-primary
      .panel-heading Codeship webhook url
      .panel-body
        = image_tag 'codeship_setup.png', style: 'max-width:100%;height:auto;'
        .animated-text{style: 'display:none;'}= current_user.codeship_uid
      .panel-footer
        - config_url user_codeship_webhook_url(current_user.codeship_uid)
