.navbar-default.sidebar{role: 'navigation'}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li
        %a{href: admin_root_path, class: (action?('index') ? 'active' : nil) }
          %i.fa.fa-heart-o.fa-fw
          Dashboard
      %li
        %a{href: '#'}
          %i.fa.fa-gears.fa-fw
          Builds
      %li
        %a{href: '#'}
          %i.fa.fa-users.fa-fw
          Developers
      %li
        %a{href: admin_projects_path, class: (action?('projects') ? 'active' : nil) }
          %i.fa.fa-cubes.fa-fw
          Projects
      %li
        %a{href: '#'}
          %i.fa.fa-wrench.fa-fw
          Nabaztag settings
